<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Импорт / экспорт</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <h1>Импорт / экспорт</h1>
            <br>
            <form action="{{ url_for('good_import') }}" method="POST" enctype="multipart/form-data">
                <div class="jumbotron">
                    <div class="form-row mt-2">
                        <div class="col">
                            <label for="CSVInput">Импортировать из CSV</label>
                            <p>
                                <input type="file" accept="text/csv" id="CSVInput" name="doc" required>
                            </p>
                            <p>
                                <button class="btn btn-primary">Импорт</button>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
            <form action="{{ url_for('good_export') }}">
                <div class="jumbotron">
                    <div class="form-row mt-2">
                        <div class="col">
                            <label for="CSVExport">Экспортировать в CSV</label>
                            <p>
                                <a href="{{ url_for('good_export') }}" class="btn btn-primary" id="CSVExport">Экспорт</a>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
            <a href="{{ url_for('index') }}" class="btn btn-outline-primary">Назад</a>
        </div>
    </div>
</div>
</body>
</html>